{% extends 'base.html' %}


{% block title %}
Crear Cliente
{% endblock %}



{% block content %}



<div class="container mt-4">


    <div class="card shadow">


        <div class="card-body">


            <h3>
                👥 Registrar Nuevo Cliente
            </h3>



            <form method="POST">


                {% csrf_token %}



                <div class="mb-3">

                    <label class="form-label">
                        Nombre del cliente
                    </label>


                    <input 
                        type="text"
                        name="nombre"
                        class="form-control"
                        placeholder="Ingrese nombre del cliente"
                        required>

                </div>




                <div class="mb-3">


                    <label class="form-label">
                        Empleado encargado
                    </label>



                    <select name="empleado" class="form-control">


                        <option value="">
                            -- Sin asignar --
                        </option>



                        {% for empleado in empleados %}


                        <option value="{{ empleado.id }}">

                            {{ empleado.nombre }}

                        </option>



                        {% endfor %}



                    </select>



                </div>





                <button class="btn btn-success">
                    Guardar Cliente
                </button>




                <a href="/clientes/" class="btn btn-secondary">
                    Volver
                </a>



            </form>


        </div>


    </div>


</div>



{% endblock %}