{% extends 'base.html' %}


{% block title %}
Editar Empleado
{% endblock %}



{% block content %}


<div class="container mt-4">


    <div class="card shadow">


        <div class="card-body">


            <h3>
                👨‍💼 Editar Empleado
            </h3>



            <form method="POST">

                {% csrf_token %}



                <div class="mb-3">

                    <label class="form-label">
                        Nombre
                    </label>


                    <input 
                        type="text"
                        name="nombre"
                        value="{{ empleado.nombre }}"
                        class="form-control">

                </div>




                <button class="btn btn-primary">
                    Guardar cambios
                </button>



                <a href="/empleados/" class="btn btn-secondary">
                    Cancelar
                </a>



            </form>


        </div>


    </div>


</div>



{% endblock %}