{% extends 'base.html' %}


{% block title %}
Detalle Cliente
{% endblock %}



{% block content %}



<div class="row justify-content-center">


    <div class="col-md-6">


        <div class="card shadow-lg rounded-4">


            <div class="card-header bg-primary text-white text-center fs-5">

                👤 Detalle del Cliente

            </div>



            <div class="card-body p-4">



                <div class="mb-3 p-2 bg-light rounded">

                    <strong>ID:</strong> 
                    {{ cliente.id }}

                </div>




                <div class="mb-3 p-2 bg-light rounded">

                    <strong>Nombre:</strong>
                    {{ cliente.nombre }}

                </div>




                <div class="mb-3 p-2 bg-light rounded">

                    <strong>Empleado encargado:</strong>


                    {% if cliente.empleado %}

                        {{ cliente.empleado.nombre }}

                    {% else %}

                        Sin asignar

                    {% endif %}


                </div>




                <div class="mb-3">

                    <strong>Estado:</strong>

                    <span class="badge bg-success">
                        Activo
                    </span>

                </div>




                <a href="/clientes/" class="btn btn-secondary w-100 mt-3">

                    ⬅ Volver

                </a>



            </div>


        </div>


    </div>


</div>



{% endblock %}